@import url(./media.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body {
    min-width: 320px;
}

/* header start */

.header {
    background: #000;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 991px;
    width: 100%;
    height: 100%;
}

.header__nav-logo {
    max-width: 150px;
    width: 100%;
    height: auto;
    display: block;
}

.header__nav-logo img {
    width: 100%;
    height: auto;
    display: block; 
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav-list_item-link {
    color: #fff;
    font-size: 20px;
    transition:  0.3s;
    position: relative;
    font-weight: 700;
}

.header__nav-list_item:nth-child(2) {
    margin: 0 40px;
}

.underline {
    position: relative;
    background: none;
    transition: 0.3s;
}

.underline:hover {
    content: "";
    background: blueviolet;
}

.underline:after {
    content: "";
    opacity: 0;
    min-width: 50px;
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    transition: 0.3s;
    bottom: -10px;
}


.underline:nth-child(3)::after {
    max-width: 100px;
}

.underline:hover::after {
    opacity: 1;
}

/* header end */

/* aboutUs start */

.container2 {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
    width: 100%;
    height: 100%;
    gap: 40px;
    display: flex;
    transform: translateX(15%);
}

.aboutUs {
    background: lightblue;
    width: 100%;
    padding: 40px 0;
}

.aboutUs__h1 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.aboutUs__p {
    margin-right: 30px;
    max-width: 450px;
    width: 100%;
}

/* aboutUs end */


/* contacts start */

.contacts {
    background: lightgreen;
    padding: 40px 0;
}

.contacts__title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.container3 {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
    width: 100%;
    height: 100%;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.captain {
    display: flex;
    justify-content: space-around;
    transform: translateX(-20px);
    position: relative;
}

.captain::after {
    content: "";
    background: #000;
    min-width: 900px;
    height: 2px;
    position: absolute;
    bottom: -15px;
    opacity: 0;
}

.captain:hover::after {
    opacity: 1;
}


.captain__name {
    font-size: 25px;
    font-weight: 700;
}

.captain__number {
    font-size: 25px;
    font-weight: 700;
}
.otherMembers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.otherMembers__name {
    font-size: 20px;
}

.otherMembers__number {
    font-size: 20px;
}

.otherMembers::after {
    content: "";
    background: #000;
    min-width: 850px;
    height: 2px;
    position: absolute;
    bottom: -15px;
    opacity: 0;
}

.otherMembers:hover::after {
    opacity: 1;
}



/* contacts end */